<img routerLink="/task-list" routerLinkActive="active" class="ssiplogo logo-press"
  src="../../assets/spiritual_social_intellectual_physical_cyd_logo.png" alt="logo">
<img class="ssiplogo" src="../../assets/spiritual_social_intellectual_physical_cyd_logo_outline.png" alt="logoOutline">
<div class="quarters">
  <div class="spiritual quarter"></div>
  <div class="social quarter"></div>
  <div class="physical quarter"></div>
  <div class="intellectual quarter"></div>
</div>
<div class="quarters press">
  <div class="quarter pressable" routerLink="/spiritualGoals" routerLinkActive="active"></div>
  <div class="quarter pressable" routerLink="/socialGoals" routerLinkActive="active"></div>
  <div class="quarter pressable" routerLink="/physicalGoals" routerLinkActive="active"></div>
  <div class="quarter pressable" routerLink="/intellectualGoals" routerLinkActive="active"></div>
</div>