<img class="ssiplogo" src="../../assets/spiritual_social_intellectual_physical_cyd_logo.png" alt="logo">
<div class="contains">
  <div class="spiritual container"></div>
  <div class="social container"></div>
  <div class="physical container"></div>
  <div class="intellectual container"></div>
</div>
<div class="contains press">
  <div class="container pressable" routerLink="/spiritualGoals" routerLinkActive="active"></div>
  <div class="container pressable" routerLink="/socialGoals" routerLinkActive="active"></div>
  <div class="container pressable" routerLink="/physicalGoals" routerLinkActive="active"></div>
  <div class="container pressable" routerLink="/intellectualGoals" routerLinkActive="active"></div>
</div>