.container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical-center{
  display: flex;
  align-items: center;
}

.drawer {
  width: max-content;
  padding: 10px;
}

.drawer-container {
  height: 100%;
}

.delete-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete-text {
  margin-top: 10px;
  text-align: center;
}

.delete-icon {
  font-size: xxx-large;
  color: red;
  margin: 15px;
}
