<mat-drawer-container class="drawer-container" hasBackdrop autosize *ngIf="taskLoaded | async">


  <!-- Settings Header -->
  <mat-drawer class="drawer" #drawer mode="over">

    <!-- Settings -->

    <!-- Postpone -->
    <div class="pointer">
      <!-- TODO POSTPONE ITEM -->
      <mat-icon>update</mat-icon>
      Postpone
    </div>

    <!-- Delete -->
    <div class="delete-container pointer">
      <!-- TODO SEND ITEM TO DELETED LIST -->
      <mat-icon class="delete-icon">delete</mat-icon>
      <p class="delete-text"> Delete </p>
    </div>
  </mat-drawer>

  <mat-drawer-content>

    <!-- Tool Bar -->
    <mat-toolbar class="tool-bar">
      <!-- Settings -->
      <mat-icon class="pointer" (click)="drawer.toggle()">settings</mat-icon>
      <!-- Go to list -->
      <mat-icon class="pointer" [routerLink]="['/task-list']">view_list</mat-icon>
    </mat-toolbar>

    <!-- Privious Task -->
    <div>
      <!-- TODO go back to last task -->
      <mat-icon (click)="goBackATask()">chevron_left</mat-icon>
    </div>

    <app-planning-detial></app-planning-detial>


    <!-- Next Task -->
    <div>
      <!-- TODO add next button -->
      <mat-icon (click)="goToNextTask()">chevron_right</mat-icon>
    </div>


  </mat-drawer-content>

</mat-drawer-container>