// Colors
$spiritual: #05bcd9;
$social: #b6c527;
$physical: #f05574;
$intellectual: #f68d39;

// Break points
$tabletSize: 768px;

.page-container {
  height: 100%;
}

.main-container {
  overflow-y: auto;
  height: 93%
}