<div class="list-item">
  <fa-icon *ngIf="!taskAtHand.finished" size="lg" (click)="checkTheBox()" [icon]="faSquare"></fa-icon>
  <fa-icon *ngIf="taskAtHand.finished" size="lg" (click)="checkTheBox()" [icon]="faSquareCheck"></fa-icon>
  <p *ngIf="!isEditing"  (click)="isEditing = true">{{taskAtHand.taskItem}}</p>
  
  <span *ngIf="isEditing">
    <input type="text"  [(ngModel)]="taskAtHand.taskItem"/>
    <fa-icon (click)="isEditing = false" size="lg" [icon]="faSquarePen"></fa-icon>
  </span>
  <!-- Time Left -->
  <p>
    <!-- SHOW WHEN TASK IS DO NEXT -->
    {{taskAtHand.timeLeft()}}
  </p>
</div>


<!-- Notes -->
<mat-form-field appearance="fill">
  <mat-label>Note</mat-label>
  <textarea matInput [(ngModel)]="taskAtHand.notes"></textarea>
</mat-form-field>

<!-- Estimate of time -->
<div>
  estimation of time
  {{taskAtHand.estimateOfTime}}
  <!-- TODO estimate how much time task will take -->
</div>

<!-- Urgency/Priority -->
<div class="up-class">

  <!-- Graph Priority Slider Div -->
  <div class="priority-graph">

    <!-- Priority/Urgency Graph -->
    <div>
      <svg class="graph">
        <!-- urgency (x axis) -->
        <g>
          <text x="-138" y="20" transform="rotate(-90)">Importance</text>
          <!-- <text x="-95" y="20" transform="rotate(-90)">Important</text>
          <text x="-180" y="20" transform="rotate(-90)">Unimportant</text> -->
          <text x="75" y="20">Urgency</text>
          <!-- <text x="110" y="20">Urgent</text>
          <text x="30" y="20">Not Urgent</text> -->
        </g>
        <g class="grid">
          <line x1="100" x2="100" y1="25" y2="175"></line>
          <line x1="25" x2="25" y1="25" y2="175"></line>
          <line x1="175" x2="175" y1="25" y2="175"></line>
        </g>
        <!-- priority (y axis) -->
        <g class="grid">
          <line x1="25" x2="175" y1="100" y2="100"></line>
          <line x1="25" x2="175" y1="25" y2="25"></line>
          <line x1="25" x2="175" y1="175" y2="175"></line>
        </g>
        <g>
          <circle [attr.cx]="urgency" [attr.cy]="priority" data-value="8.1" r="4">
          </circle>
        </g>
      </svg>
    </div>

    <!-- Priority Slider -->
    <div class="slider">
      <mat-slider (change)="graphScaling()" [(ngModel)]="taskAtHand.priority" vertical="true" step="1" min="0" max="10"
        aria-label="units">
      </mat-slider>
    </div>
  </div>

  <!-- Urgency Slider -->
  <div class="urgent-container">
    <div class="slider urgent">
      <mat-slider (change)="graphScaling()" [(ngModel)]="taskAtHand.urgency" step="1" min="0" max="10" aria-label="units">
      </mat-slider>
    </div>
    
    <div class="emptydiv"></div>
  </div>
</div>

<!-- Repeating -->
<div>
  <!-- TODO make calender to show when task is do -->
  repeats {{taskAtHand.repeats}}
</div>

<!-- Postponed -->
<div>
  <!-- TODO ADD LOGIC TO DEAL WITH ITEMS THAT HAVE BEEN POSTPONED -->
  Has been Postpone {{taskAtHand.postponed}}
</div>

<mat-calendar class="calendar" [(selected)]="taskAtHand.dueDate"></mat-calendar>