<div class="list-item">
  <img *ngIf="!taskAtHand.finished" 
    (click)="checkTheBox()" 
    class="uncheckedbox"
    src="../../../assets/noun_rounded rectangle_1087455.svg" alt="box">
  <img *ngIf="taskAtHand.finished" 
    (click)="checkTheBox()" 
    class="checkbox" 
    src="../../../assets/noun_Check_3551559.svg"
    alt="check">
  <p>{{taskAtHand.taskItem}}</p>
</div>

<!-- Time Left -->
<div>
  <!-- SHOW WHEN TASK IS DO NEXT -->
  {{taskAtHand.timeLeft()}}
</div>

<!-- Notes -->
<mat-form-field appearance="fill">
  <mat-label>Note</mat-label>
  <textarea matInput [(ngModel)]="taskAtHand.notes"></textarea>
</mat-form-field>

<!-- Estimate of time -->
<div>
  estimation of time
  {{taskAtHand.estimateOfTime}}
  <!-- TODO estimate how much time task will take -->
</div>

<!-- Priority -->
<div>
  <!-- TODO MAKE PRIORITY SELECTOR -->
  priority
  {{taskAtHand.priority}}
  <mat-slider 
    (change)="graphScaling()" 
    [(ngModel)]="taskAtHand.priority" 
    thumbLabel tickInterval="1" 
    step="1" 
    min="0"
    max="10" 
    aria-label="units">
  </mat-slider>
</div>

<!-- Urgency -->
<div>
  <!-- TODO MAKE URGANCY SELECTOR -->
  urgency
  {{taskAtHand.urgency}}
  <mat-slider 
    (change)="graphScaling()" 
    [(ngModel)]="taskAtHand.urgency" 
    thumbLabel tickInterval="1" 
    step="1" 
    min="0"
    max="10" 
    aria-label="units">
  </mat-slider>
</div>

<!-- Priority/Urgency Graph -->
<div>
  <svg class="graph">
    <!-- urgency (x axis) -->
    <g>
      <text x="-95" y="20" transform="rotate(-90)">Important</text>
      <text x="-180" y="20" transform="rotate(-90)">Unimportant</text>
      <text x="110" y="20">Urgent</text>
      <text x="30" y="20">Not Urgent</text>
    </g>
    <g class="grid">
      <line x1="100" x2="100" y1="25" y2="175"></line>
      <line x1="25" x2="25" y1="25" y2="175"></line>
      <line x1="175" x2="175" y1="25" y2="175"></line>
    </g>
    <!-- priority (y axis) -->
    <g class="grid">
      <line x1="25" x2="175" y1="100" y2="100"></line>
      <line x1="25" x2="175" y1="25" y2="25"></line>
      <line x1="25" x2="175" y1="175" y2="175"></line>
    </g>
    <g>
      <circle [attr.cx]="urgency" [attr.cy]="priority" data-value="8.1" r="4">
      </circle>
    </g>
  </svg>
</div>

<!-- Repeating -->
<div>
  <!-- TODO make calender to show when task is do -->
  repeats
  {{taskAtHand.repeats}}
</div>

<!-- Postponed -->
<div>
  <!-- TODO ADD LOGIC TO DEAL WITH ITEMS THAT HAVE BEEN POSTPONED -->
  Has been Postpone {{taskAtHand.postponed}}
</div>

<mat-calendar [(selected)]="taskAtHand.dueDate"></mat-calendar>