mat-tab-group {
  height: 100%;
}

.tool-bar {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.container{
  overflow-y: scroll;
  margin-bottom: 64px;
}

.pointer {
  cursor: pointer;
}

.checkbox {
  width: 40px;
  padding: 4px;
}

.uncheckedbox {
  width: 30px;
  padding: 10px;
}

.list-item {
  display: flex;
  align-items: center;
  flex-direction: row;
}