@use "../../app.component.scss" as mainstyle;

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

p {
  padding: 4px;
}

.list-item-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-container {
  max-width: mainstyle.$tabletSize;
}
